@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600&display=swap');

body {
    background-color: white;
    font-family: 'Lexend', sans-serif;
}
textarea {
    min-height: 400px;
}

.read {
    .list-group-item {
        background-color: #e2e8f0;
    }
}

.from-text {
    font-weight: 600;
}
.unread {
    background-color: white;
}

.login-button {
    background-color: #082f49;
    color: white;
}

.login-button:hover {
    transition: 0.3s;
    background-color: #0c4a6e;
    color: white;
}

